.legend {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.safeZone::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 3px;
    margin-right: 0.5em;
    background-color: green;
}

.lowRisk::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 3px;
    margin-right: 0.5em;
    background-color: yellow;
}

.highRisk::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 3px;
    margin-right: 0.5em;
    background-color: red;
}

.dropDownItem.active {
    background-color: #ccc;
}

.selectedZone {
    color: white;
    margin: 1em 0;
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 50%;
    align-self: center;
}