.login.contentContainer {
    margin: 0 auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

.formContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 80%;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2em;
}

.credentialField {
    width: 100%;
}

.credentialField + .credentialField {
    margin-top: 1em;
}

.margin-top {
    margin-top: 1em !important;
}